/* animaciones */

@keyframes vueltas {
    50% {
        border: 1px solid $terciario-color;
        color: transparent;
        transform: skewY(0.5rad);
        width: 0.3rem;
    }
}

@keyframes titilar {
    0% {
        color: transparent;
    }
}

/* fin animaciones */