@import url('https://fonts.googleapis.com/css2?family=Uchen&display=swap');
@import 'colores';
$size_site_content_width: 1024px;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

/* inicio estilos particulares */

body {
    background-color: $terciario-color;
    font-family: 'Uchen', serif;
    text-align: center;
    padding: 2em;
    max-width: $size_site_content_width;
    margin: 0 auto;

    header {
        margin: 1rem;
        h1 {
            color: $primario-color;
            text-transform: uppercase;
        }
        h2 {
            color: $secundario-color;
            position: relative;
            text-transform: uppercase;
            &::after{
                content: "";
                height: 0.25rem;
                width: 100%;
                background-color: $primario-color;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
    }

    main {

        h3, h4 {
            text-transform: uppercase;
        }

        h3 {
            border-bottom: 0.2rem solid $terciario-color;
            margin-bottom: 0.7rem;
        }

        p::first-letter {
            text-transform: capitalize;
        }

        section {
            background-color: $primario-color;
            margin: 1rem;
            border-radius: 3px;
            padding: 0.5rem;
        }

        .contacto {
            background-color: $terciario-color;
            color: $primario-color;
            h3 {
                visibility: hidden;
                height: 0;
            }
            a {
                color: $primario-color;
            }
            div {
                display: flex;
                flex-direction: column;
            }
        }

        .sobreMi{
            h3 {
                text-align: center;
            }
            background-color: $cuaternario-color;
            text-align: justify;
        }

        .icons{
            font-size: 3rem;
        }

        @media screen and (min-width:$size_site_content_width) {
            display: grid;
            grid-template-columns: repeat(2, 50%);
            gap: 5px;

            .grid-full-row{
                grid-column: 1/3;
            }
            .grid-left-column{
                grid-column: 1/2;
                grid-row: 4;
            }
            .grid-right-column{
                grid-column: 2/3;
                grid-row: 4;
            }

            .grid-2x2 {
                display: grid;
                grid-template: repeat(2,1fr)/repeat(2,1fr);
            }

            .d-flex{
                display: flex;
                flex-wrap: wrap;
            }
            .justify-content-evenly{
                justify-content: space-evenly;
            }
        }
    }
}