@import url('https://fonts.googleapis.com/css2?family=Uchen&display=swap');
@import url('base.css');
@import 'colores';
@import 'animaciones';

/* inicio estilos particulares */

body {
    background-color: $terciario-color;
    font-family: 'Uchen', serif;
    text-align: center;

    header {
        margin: 1rem;
        h1 {
            color: $primario-color;
            text-transform: uppercase;
        }
        h2 {
            color: $secundario-color;
            position: relative;
            text-transform: uppercase;
            &::after{
                content: "";
                height: 0.25rem;
                width: 100%;
                background-color: $primario-color;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
    }

    main {

        h3, h4 {
            text-transform: uppercase;
        }

        h3 {
            border-bottom: 3px solid black;
        }

        p::first-letter {
            text-transform: capitalize;
        }

        section {
            background-color: $primario-color;
            margin: 1rem;
        }

        .contacto {
            background-color: $terciario-color;
            color: $primario-color;
            h3 {
                visibility: hidden;
                height: 0;
            }
            a {
                color: $primario-color;
            }
        }

        .sobreMi{
            h3 {
                text-align: center;
            }
            background-color: $cuaternario-color;
            text-align: justify;
        }
    }
}